@import './variables';

* {
    box-sizing: border-box;
    outline: none
}

html {
    font-size: 13px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
    background: #f1f1f1;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #999
}

//工具类


@each $colorKey,$color in $colors {
    .text-#{$colorKey} {
        color: $color;
    }
    .bg-#{$colorKey} {
        background-color: $color;
    }
}

//text-aligin
@each $var in (left,center,right) {
    .text-#{$var} {
        text-align: $var !important;
    }
}



@each $sizeKey,$size in $font-sizes {
  .fs-#{$sizeKey}  {
      font-size: $size * $base-font-size
  }
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.d-flex {
    display: flex;
}



@each $key,$value in $flex-jc {
    .jc-#{$key} {
        justify-content: $value;
    }
}



@each $key,$value in $flex-ai {
    .ai-#{$key} {
        align-items: $value;
    }
}

.flex-colum {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}


.flex-1 {
    flex: 1;
}

.flex-grow-1 {
    flex-grow: 1;
}



@each $typeKey,$type in $spacing-types {
    //m-1
    @each $sizeKey,$size in $spacing-sizes{
        .#{$typeKey}-#{$sizeKey}{
            #{$type}:$size*$spacing-base-size;
        }
    }

    //mx-1 左右间距
    @each $sizeKey,$size in $spacing-sizes{
        .#{$typeKey}x-#{$sizeKey}{
            #{$type}-left:$size*$spacing-base-size;
            #{$type}-right:$size*$spacing-base-size;
        }
    }
    //my-1 上下间距
    @each $sizeKey,$size in $spacing-sizes{
        .#{$typeKey}y-#{$sizeKey}{
            #{$type}-top:$size*$spacing-base-size;
            #{$type}-bottom:$size*$spacing-base-size;
        }
    }
    //mt-1
    @each $directionKey,$direction in $spacing-direction {
        @each $sizeKey,$size in $spacing-sizes{
            //.mt-1 {margin-top:0.25rem}
            .#{$typeKey}#{$directionKey}-#{$sizeKey}{
                #{$type}-#{$direction}:$size*$spacing-base-size;
            }
        }
    }
    
}

//button
.btn {
    border: none;
    border-radius: 0.1538rem;
    font-size: map-get($map: $font-sizes, $key: 'sm')*$base-font-size;
    padding: 0.2rem 0.6rem;
}

//nav
.nav {
    display: flex;
    .nav-item {
        border-bottom: 3px solid transparent;
        padding-bottom: 0.2rem;
        &.active {
            color: map-get($map: $colors, $key: 'primary');
            border-bottom: map-get($map: $colors, $key: 'primary');
        }
    }
    .nav-inverse {
        .nav-item {
            color: map-get($map: $colors, $key: 'white');
            &.active {
                border-bottom: map-get($map: $colors, $key: 'white');
            }
        }
    }
}

.sprite{
    background: url(../assets/spr.png) no-repeat 0 0;
    background-size: 13.6923rem;
    display: inline-block;
    &.sprite-news{
        width: 1.4615rem;
	    height: 1.4615rem;
        background-position: 47.799% 19.512%;
    }
    &.sprite-arrow{
        width: 1.4615rem;
        height: 1.3846rem;
        background-position: 71.293% 19.757%;
    }
}



